---
import { Content as AboutMe } from '../content/aboutme.md'
import { Content as Skills } from '../content/skills.md'
import Section from '../components/section.astro'
import Experiences from '../components/experiences.astro'
import Projects from '../components/projects.astro'
import NavBar from '../components/navBar.astro'
---

<html lang="en" class="font-mono font-medium">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Vishal Jayakumar | CS at UWaterloo</title>
  </head>
  <body class="text-slate-200 text-lg min-h-screen bg-gradient-to-b from-slate-800 to-slate-900">
    <div class="mx-5 sm:mx-28 md:mx-40 lg:mx-[14rem] xl:mx-[18rem] 2xl:mx-[18rem] pt-16 mb-16">
      <NavBar/>
      <div class="hidden md:inline-block"><AboutMe/></div>
      <Section title="Skills">
        <Skills/>
      </Section>
      <Section title="Work Experience">
        <Experiences/>
      </Section>
      <Section title="Projects & Other Experience">
        <Projects/>
      </Section>
      <div class="mt-24 -mb-4 text-sm lg:text-base text-slate-300">
        Built with <b><a class="hover:text-blue-300" href="https://astro.build/" target="_blank">Astro</a></b>,
         <b><a class="hover:text-blue-300" href="https://tailwindcss.com/" target="_blank">TailwindCSS</a></b> and
        <b><a class="hover:text-blue-300" href="https://react.dev/" target="_blank">React</a></b>.
      </div>
    </div>
  </body>
</html>
