---
/*
Navbar component
*/

import Image from "astro/components/Image.astro"
import ProfileImage from '../images/photo.jpg'

const { otherPageName, otherPageLink } = Astro.props;
---
<div class="flex">
  <div>
    <Image class="mr-16 rounded-full" src={ ProfileImage } alt="fun photo of me!"></Image>
  </div>
  <div class="inline mt-auto">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl">Vishal Jayakumar</h1>
    <div class="mt-5">
      <a href="mailto:v3jayaku@uwaterloo.ca" class="text-slate-300 hover:text-blue-300 hover:underline">email</a>
      <a href="https://github.com/VishGit1234" target="_blank" class="text-slate-300 ml-5 hover:text-blue-300 hover:underline">github</a>
      <a href="https://www.linkedin.com/in/vish-jay/" target="_blank" class="text-slate-300 ml-5 hover:text-blue-300 hover:underline">linkedin</a>
      <a href="https://scholar.google.ca/citations?user=lh_Y0ZsAAAAJ&hl=en" target="_blank" class="text-slate-300 ml-5 hover:text-blue-300 hover:underline">scholar</a>
      <a href={ otherPageLink } class="text-slate-300 ml-5 hover:text-blue-300 hover:underline">{ otherPageName }</a>
    </div>
  </div>
</div>
<hr class="my-5">


