---
/*
Wrapper for creating a new section on main page
*/

const { title } = Astro.props;
---
<h2 class="mt-10 text-2xl sm:text-3xl lg:text-4xl">{ title }</h2>
<hr class="my-5 font-extrabold">
<slot/>
